* {
    font-family:Helvetica, sans-serif;
}
#wrapper {
    display: grid;
    grid-template-rows: 120px 220px 9fr 100px;
    grid-template-columns: 1fr 2fr repeat(2, 5fr) 1fr;
}
header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgba(38, 36, 35, .9);
    color:whitesmoke;
    line-height: 14%;
    padding: 0.5rem;
    background-image: url("images/minecraft.blocl.jpg");
    background-size: 60px;
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 0;
}
header h1 {
    padding-left: 80px;
    padding-top: 25px;
}
nav {
    grid-column: 2 / 3;
    grid-row: 2 / -2;
    line-height: 100%;
    padding: .5em ;
    text-align: center;
    white-space: nowrap;
}
nav.homenav {
    background-color: #917665;
}
nav.nethernav {
    background-color: #D6731E;
}
nav.oceannav {
    background-color: #3039A0;
}
nav.endnav {
    background-color: #B692AC;
}
nav a {
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
nav.homenav a {
    background-color: #3b2c21;
    color: whitesmoke;
}
nav.nethernav a {
    background-color: #C94208;
    color: whitesmoke;
}
nav.oceannav a {
    background-color: #222D6D;
    color: whitesmoke;
}
nav.endnav a {
    background-color: #7B5879;
    color: whitesmoke;
}
nav.homenav a:hover {
    background-color: #427044;
    color: #152c15;
}
nav.nethernav a:hover {
    background-color: #844243;
    color: #ffa269;
}
nav.oceannav a:hover {
    background-color: #77aafc;
    color: #1e244d;
}
nav.endnav a:hover {
    background-color: #EEF5B2;
    color: #411a3e;
}
body {
    padding: 0px;
    margin: 0px;
}
body.home {
    background-color: #C5AE9C;
}
body.nether {
    background-color: #713433;
}
body.ocean {
    background-color: #dfb8a1;
}
body.end {
    background-color: #CEC58A;
}
main {
    grid-column: 3 / -2;
    grid-row: 2 / -2;
    padding-left: 1em;
    padding-right: 1em;
    font-size: large;
}
main.home {
    background-color: #6dad6a;
    color: #152c15;
}
main.nether {
    background-color: #844243;
    color: #ffa269;
}
main.ocean {
    background-color: #77aafc;
    color: #1e244d;
}
main.end {
    background-color: #EEF5B2;
    color: #411a3e;
}
img {
    height: 250px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
p {
    font-size: 20px;
}
ul {
    font-size: 20px;
}
footer {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
    background-color:  rgba(38, 36, 35, .9);
    padding-left: 1em;
    padding-top: .6em; 
}
footer p {
    color: #DBDBDB;
    font-style: italic;
    text-align: center;
}
footer a {
    color: #e0befa;
}

@media only screen and (max-width: 1100px) {
    #wrappper {
        grid-template-columns: minmax(0px, 1fr) minmax(0, 2fr) repeat(2, minmax(0, 5fr)) minmax(0px, 1fr);

    }
}
@media only screen and (max-width: 992px) {
    #wrapper {
        grid-template-rows: 120px 220px 9fr 100px;
    }
    header {
        grid-area: 1 / 1 / 2 / -1;
    }
    nav {
        grid-area: 2 / 2 / 3 / 5;
        position: static;
    }
    main {
        grid-column: 2 / 5;
        grid-row: 3 / -2;
    }
    main img {
        display: block;
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {
    nav {
        grid-area: 2 / 1 / 3 / 9;
        position: static;
    }
    main {
        grid-area: 3 / 1 / -1/ -1;
    }
}