* {
    font-family:Helvetica, sans-serif;
}
#wrapper {
    display: grid;
    grid-template-rows: .5fr .5fr 9fr 1fr;
    grid-template-columns: 1fr 2fr repeat(2, 5fr) 1fr;
}
header {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    background-color: rgba(38, 36, 35, .9);
    color:#DBDBDB;
    line-height: 14%;
    padding: 0.5rem;
    background-image: url("images/minecraft.blocl.jpg");
    background-size: 60px;
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 0;
}
header h1 {
    padding-left: 80px;
    padding-top: 25px;
}
nav {
    grid-column: 2 / 3;
    grid-row: 3 / -2;
    background-color: #917665;
    line-height: 100%;
    padding: .5em ;
    text-align: center;
    white-space: nowrap;
}
nav a {
    background-color: #2e4a36;
    border: none;
    color: #917665;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
nav a:hover {
    color: white;
}
main {
    grid-column: 3 / -2;
    grid-row: 3 / -2;
    background-color: #6dad6a;
    padding-left: 1em;
}
main img {
    height:300px;
    background-repeat: no-repeat;
    background-position: center;
}
body {
    background-color: #C5AE9C;
    padding: 0px;
    margin: 0px;
}
p {
    font-size: 20;
}
ul {
    font-size: 20px;
}
footer {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
    background-color:  rgba(38, 36, 35, .9);
    padding-left: 1em;
    padding-top: 1.8em; 
}
footer p {
    color: #DBDBDB;
    font-style: italic;
    text-align: center;
}
footer a {
    color: #e0befa;
}

@media only screen and (max-width: 1100px) {
    #wrappper {
        grid-template-columns: minmax(0px, 1fr) minmax(0, 2fr) repeat(2, minmax(0, 5fr)) minmax(0px, 1fr);
    }
}
@media only screen and (max-width: 992px) {
    header {
        grid-area: 1 / 1 / 2 / -1;
    }
    nav {
        grid-area: 2 / 2 / 3 / 5;
        position: static;
    }
    main {
        grid-column: 2 / 5;
    }
}
@media only screen and (max-width: 768px) {
    nav {
        grid-area: 2 / 1 / 3 / 9;
        position: static;
    }
    main {
        grid-area: 3 / 1 / -1/ -1;
    }
}