#wrapper {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: minmax(0px, 1fr) repeat(3, minmax(0, 175px)) minmax(0px, 1fr);
}
header {
    grid-area: 1 / 2 / 2 / -2;
    background-color: blue;
    height: 100px;
}
nav {
    grid-area: 2 / 2 / 3 / 3;
    background-color: red;
}
footer {
    grid-area: 2 / 2 / 3 / -2;
    background-color: orange;
}