#wrapper {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: minmax(0px, 1fr) repeat(2, minmax(0, 175px)) minmax(0px, 1fr);
}
nav {
    grid-area: 0 / 2 / 1 / -2;
    background-color: red;
}
footer {
    grid-area: 2 / 2 / 3 / -2;
    background-color: orange;
}