/* Structual Elements Go Here */
body {
    background-color: #edeeef;
    color: #555;
    margin: 0;
    font-family: Lato;
}
#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
nav {
    grid-column: 2 / 3;
    background-color: #edeeef;
}
nav img {
    height: 100%;
    width: auto;
}
main {
    grid-column: 3 / -2;
    background-color: #fff;
    padding: 20px;
}
footer {
    grid-column: 3 / -2;
    background-color: #2d5ba6;
    color: #fff;
    font-size: .5 rem;
    padding: 20px;
}

/* Navigation Elements Go Here */



/* Styling Elements Go Here */
p {
    line-height: 1.25 rem;
}
a {
    color: #d53631;
}
img .side {
    width: 300px;
    height: auto;
    float: right;
}

/* Media Query of 960 and less goes here */
@media only screen and (max-width: 960px) {
    nav, main, footer {
        grid-column: 2 / -2;
    }
    nav ul li a {
        text-align: center;
    }
}