/* Structual Elements Go Here */
#container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(8, minmax(0, 175px)) minmax(0px, 1fr);
}
nav {
    grid-column: 0 / 1;
    background-color: #edeeef;
}
main {
    background-color: #edeeef;
    color: #555;
    margin: 0;
    font-family: Lato;
}

/* Navigation Elements Go Here */



/* Styling Elements Go Here */



/* Media Query of 960 and less goes here */




























