#wrapper {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 2fr repeat(2, 4fr) 1fr;
}
header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: blue;
    padding:0px;
}
nav {
    grid-column: 2 / 3;
    grid-row: 2 / -2;
    background-color: red;
}
footer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    background-color: orange;
}
main {
    grid-column: 3 / -2;
    grid-row: 2 / -2;
    background-color: green;
}