#wrapper {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 2fr repeat(2, 5fr) 1fr;
}
header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgba(38, 36, 35, .9);
    color:#DBDBDB;
    line-height: 14%;
    padding: 0.5rem;
    background-image: url("images/minecraft.blocl.jpg");
    background-size: 60px;
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 0;
}
header h1 {
    padding-left: 80px;
    padding-top: 45px;
}
nav {
    grid-column: 2 / 3;
    grid-row: 2 / -2;
    background-color: #D6D6D6;
    line-height: 140%;
    padding-top: 1em ;
}
nav a {
    border-style: solid;
    border: black;
    font-style: none;
    padding: .7em;
}
nav a:hover {
    background-color: #E6E6E6;
}
main {
    grid-column: 3 / -2;
    grid-row: 2 / -2;
    background-color: green;
    padding-left: 1em;
}
main img {
    height:300px;
    background-repeat: no-repeat;
    background-position: center;
}
body {
    background-color: #DBDBDB;
    padding: 0px;
    margin: 0px;
}
ul {
    font-size: 12px;
}
footer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    background-color: orange;
    padding-left: 1em;
}