#wrapper {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 1fr repeat(2, 4fr) 1fr;
}
header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgba(38, 36, 35, .9);
    padding: 1em;
}
nav {
    grid-column: 2 / 3;
    grid-row: 2 / -2;
    background-color: red;
    padding: 1em;
}
main {
    grid-column: 3 / -2;
    grid-row: 2 / -2;
    background-color: green;
    padding: 1em;
}
body {
    padding: 0px;
    margin: 0px;
}
footer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    background-color: orange;
}